{% extends "base.html" %}
{% load i18n %}

{% block content %}


{% if object_list  %}
    <ul>
    {% for mysession in object_list  %}
        <li> <a href="/gps/{{mysession.id }}/">{{ mysession.SessionDate }} , {{mysession.Two_Second_Peak }} , {{mysession.Five_X_10_Second_Average }} ,{{mysession.One_Hour}} , {{mysession.Alpha_Racing_500m}} , {{mysession.Nautical_Mile}} , {{mysession.Distance_Travelled}} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No sessions are available.</p>
{% endif %}


{% endblock %}